
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 body {
   background-color: rgb(175, 208, 238);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 header{
  background-color: rgb(133, 133, 133);
}
.row.header{
  margin: 0;
}
.logo-header{
  margin-top: 0.58%;
  margin-bottom: 0.55%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.col-sm-6.logo-header img{
  cursor: pointer;
  padding: 5px;
  border-radius: 50px;
  height: 50px;
  background-color: black;
}
.col-sm-6.logo-header span{
  cursor: pointer;
  font-weight: 500;
  color: #048aff;
  text-align: center;
  font-size: 22px;
}
/* header links and style */
.col-sm-6.nav-links{
  margin-top: 0.8%;
}
.col-sm-6.nav-links ul{
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}
.col-sm-6.nav-links ul li{
  list-style: none;
  align-items: end;

}
.col-sm-6.nav-links ul li a{
  text-decoration: none;
  color: white;
  margin: 10px;
}
.nav-links li {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  width: 110px;
  transition: all .5s;
  cursor: pointer;
  margin: 2px;
}
.nav-links li a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.nav-links li a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: -8%;
  right: -15px;
  transition: 0.5s;
}

.nav-links li:hover a {
  padding-right: 25px;
}

.nav-links li:hover a:after {
  opacity: 1;
  right: 0;
}
.card-header img{
  padding: 4px;
  margin-left: 16px;
  height: 50px;
  border-radius: 50px;
}
.card-header span{
 text-align: center;
}
h2{
font-size: 20px;
color: white;
}
#thank-you-message {
  display: none;
}

#thank-you-message.show {
  display: block;
}
.form-group .radio-inline{
  display: inline;
}
/* .col-sm-3 img{
  margin-top: 2%;
  width: 459px;
  height: 375px;
  border-radius: 4px;
} */
.card {
  width: 350px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(3, 12, 13, 0.5);
  overflow: hidden;
  margin-top: 1%;
  margin-left: 22%;
  /* margin-left: 36.3%; */
}

.card-header {
  background-color: #333;
}

.card-header .text-header {
  margin: 0;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.card-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  margin-bottom: 1px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
.form-control.dropdown{
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  font-family:
  sans-serif;
  font-size: 14px;
}

.btn {
  outline: none;
  margin-left: 100px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #1b71e8;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer
}

.btn:hover {
  background-color: #0d96eb;
  color: #ece6e6;
}
.popup{
  width: 320px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 10px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-popup{
  visibility: visible;
  top: 57%;
  transform: translate(-50%, -50%) scale(1);

}
.popup img{
  width: 100px;
  border-radius: 50%;
}
.popup h2{
  font-size: 24px;
  font-weight: 400px;
  margin: 30px 0 10px;
}
.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0 , 0, 0, 0.2);
}
